*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(157, 214, 223);
}

#box{
    border: 5px solid  rgb(160, 132, 207);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 500px;
    width: 800px;
    top: 50px;
    left: 250px;
    
}

p{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 50px;
    color: ;
}

#rule{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 80px;
   
}

#input{
    text-align: center;
    border-radius: ;
    background-color: ;
    color: ;
}

#button{
    border-radius: ;
    background-color: ;
    color: ;
}